header
	.block-header
		.container
			nav.navbar.navbar-expand-lg
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
					span.navbar-toggler-icon
						.bar
						.bar
						.bar
				.nav-brand
					a(href="index.html")
						img.logo(src="./assets/images/logo.png", alt="")
				.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav
						li.nav-item
							a.nav-link.tt-u(href="") giới thiệu
						li.nav-item
							a.nav-link.tt-u(href="") sản phẩm - dịch vụ
						li.nav-item
							a.nav-link.tt-u(href="") catalogue
						li.nav-item
							a.nav-link.tt-u(href="") công trình
						li.nav-item
							a.nav-link.tt-u(href="") tin tức
						li.nav-item
							a.nav-link.tt-u(href="") tuyển dụng
						li.nav-item
							a.nav-link.tt-u(href="") liên hệ
				.header__search
					.search
						span.lnr.lnr-magnifier
					.search__form
						.form-group
							input.form-control(type="text" placeholder= "Tìm Kiếm...")
							button.btn.btn__search
								span.lnr.lnr-magnifier
				.header__language.dropdown
					button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						|VN 
						span.down3.lnr.lnr-chevron-down
					.dropdown-menu(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='#') VN
						a.dropdown-item(href='#') EN
