header
	.block-header
		.container
			nav.navbar.navbar-expand-lg
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent')
					span.navbar-toggler-icon
						.bar
						.bar
						.bar
				.nav-brand
					img.logo(src="./assets/images/logo.png", alt="")
				.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav
						li.nav-item
							a.nav-link.tt-u(href="") giới thiệu
						li.nav-item
							a.nav-link.tt-u(href="") sản phẩm - dịch vụ
						li.nav-item
							a.nav-link.tt-u(href="") catalogue
						li.nav-item
							a.nav-link.tt-u(href="") công trình
						li.nav-item
							a.nav-link.tt-u(href="") tin tức
						li.nav-item
							a.nav-link.tt-u(href="") tuyển dụng
						li.nav-item
							a.nav-link.tt-u(href="") liên hệ
						.header__search.nav-item
							a(href="")
								i.fas.fa-search
						.header__language.nav-item
							select#language(name="language")
								option(value="vn") VN
								option(value="en") EN