.home-banner{
	.slide-home{
		position: relative;
		.slide__img{
			height: 66.85vh;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		figcaption{
			position: absolute;
			width: 435px;
			top: 50%;
			right: 20%;
			transform: translateY(-50%);
			text-align: left;
			h3{
				font-size: 3rem;
				color: #fff;
				font-weight: 600;
			}
			p{
				font-size: 1.5rem;
				color: #fff;
				font-weight: 400;
				font-family: 'Inter', sans-serif;
			}
			.btn__readmore{
				margin-top: 1.25rem;
			}
		}
		.swiper-button-next,
		.swiper-button-prev{
			width: 48px;
			height: 48px;
		}
		.swiper-button-next{
			&::after{
				content: '';
				width: 100%;
				height: 100%;
				background-image: url('../assets/icons/sl_next.png');
				background-repeat: no-repeat;
			}
		}
		.swiper-button-prev{
			&::after{
				content: '';
				width: 100%;
				height: 100%;
				background-image: url('../assets/icons/sl_prev.png');
				background-repeat: no-repeat;
			}
		}
		.swiper-pagination-bullet{
			background-color: #fff;
			width: 10px;
			height: 10px;
			border-radius: 0;
			opacity: 1;
		}
		.swiper-pagination-bullet-active{
			background-color: #ff0000;
		}
		@media(max-width: 1024.98px){
			.slide__img{
				height: 50vh;
			}
			figcaption{
				width: 100%;
				text-align: center;
				left: 50%;
				top: 50%;
				padding: 0 1rem;
				transform: translate(-50%, -50%);
				h3{
					font-size: 1.3rem;
				}
				p{
					font-size: 1rem;
				}
			}
			.swiper-button-next,
			.swiper-button-prev{
				display: none;
			}
		}
	}
}