footer
	.footer-block
		.container
			.row
				.col-md-3.footer-card
					.card__title
						h3 Showroom TP.HCM
					.card__body
						ul
							li
								span
									i.fas.fa-map-marker-alt
								p 506/17 Ba Tháng Hai, Phường 14, Quận 10, TP.HCM
							li
								span
									i.fas.fa-phone
								p ĐT: (028) 629 74 629
							li
								span
									i.fas.fa-envelope
								p Email: info@americandoor.com.vn
					.footer-card.mt-5
						.card__title
							h3 Showroom Cần Thơ
						.card__body
							ul
								li
									span
										i.fas.fa-map-marker-alt
									p 94C đường 3/2 , Phường Hưng Lợi,Quận Ninh Kiều, TP.Cần Thơ.
								li
									span
										i.fas.fa-phone
									p ĐT: (029) 237 32 777
				.col-md-3.footer-card
					.card__title
						h3 Giới Thiệu
					.card__body
						ul
							li
								a(href="") Tổng quan
							li
								a(href="") Tầm nhìn sứ mệnh
							li
								a(href="") Giá trị cốt lõi
							li
								a(href="") Đối tác - khách hàng
							li
								a(href="") Chứng nhận - giải thưởng
				.col-md-3.footer-card
					.card__title
						h3 American Doors
					.card__body
						ul
							li
								a(href="") Giới thiệu
							li
								a(href="") Sản phẩm - Dịch vụ
							li
								a(href="") Catalogue
							li
								a(href="") Công trình tiêu biểu
							li
								a(href="") Năng lực sản xuất
							li
								a(href="") Tin tức - Sự kiện
							li
								a(href="") Tuyển dụng
							li
								a(href="") Liên hệ
				.col-md-3.footer-card
					.card__title
						h3 Đăng ký nhận bản tin
					.card__body
						p Đăng ký để nhận được những thông tin về sản phẩm và khuyến mãi mới nhất
						.form-email(action="#")
							.form-group
								input.form-control#email(type="text" placeholder="Đăng ký nhận bản tin..." name="email")
								a.btn.btn__send(href="")
									i.fas.fa-arrow-right
					.card__media
						ul
							li.media__icon
								a(href="")
									i.fab.fa-facebook-f
							li.media__icon
								a(href="")
									i.fab.fa-twitter
							li.media__icon
								a(href="")
									i.fab.fa-linkedin-in
							li.media__icon
								a(href="")
									i.fab.fa-instagram-square
							li.media__icon
								a(href="")
									i.fab.fa-youtube
	.copyright
		ul
			li
				a(href="") Điều khoản sử dụng
			li
				a(href="") Chính sách bảo mật
			li
				a(href="") sitemap
		p Copyright &copy; 2020 American Doors. All rights reserved. Thiết kế website bởi Cánh Cam.