.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 0;
	padding: 0;
	&.btn__readmore{
		background-color: rgb(255, 0, 0);
		border-radius: 0;
		width: 130px;
		height: 36px;
		font-size: 12px;
		font-family: "Inter";
		color: rgb(255, 255, 255);
		font-weight: bold;
		transition: all ease-in-out .3s;
	}
	&.btn__down{
		border: 1px solid rgb(204, 204, 204);
		background-color: rgb(247, 247, 247);
		width: 173px;
		height: 36px;
		font-size: 12px;
		font-family: "Inter";
		color: rgb(51, 51, 51);
		font-weight: bold;
		line-height: 1.2;
		transition: all ease-in-out .3s;
	}
	&.btn__all{
		background-color: rgb(247, 247, 247);
		width: 193px;
		height: 34px;
		border-radius: none;
		border: solid 1px rgb(204, 204, 204);
		font-size: 12px;
		font-family: "Inter";
		color: rgb(51, 51, 51);
		text-transform: uppercase;
		transition: all ease-in-out .3s;
		&:hover{
			color: #fff;
			background-color: rgb(255, 0, 0);
		}
	}
	
	&.btn__map{
		background-color: #f5f5f5;
		border-radius: 0;
		padding: .5rem 6.4375px;
		color: #333333;
		font-weight: 700;
		font-size: 1rem;
		transition: all ease-in-out .3s;
	}
	@media(max-width: 1024px){
		&.btn__readmore,
		&.btn__down,
		&.btn__all,
		&.btn__map{
			padding: .3rem 1rem;
		}
	}
	&.btn__search{
		position: absolute;
		width: 36px;
		height: 36px;
		top: 0;
		right: 0;
		height: 100%;
		border-radius: 0;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		background-color: rgb(255, 0, 0);
	}
}