.about-block{
	width: 100%;
	.block-title{
		h3{
			font-weight: 700;
		}
	}
	.about-left{
		display: flex;
		align-items: center;
	}
	.about__content{
		.about__title{
			h5{
				position: relative;
				font-size: 1.3rem;
				font-weight: 600;
				padding-left: 2rem;
				&::before{
					position: absolute;
					content: '';
					width: 20px;
					height: 2px;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					background-color: #ff0000;
				}
			}
		}
		.about__description{
			padding-left: 2rem;
			max-height: 312px;
			overflow-y: auto;
			p{
				color: #747474;
				font-size: 1rem;
			}
		}
	}
	.about__down{
		padding-left: 2rem;
	}

	.about__item{
		position: relative;
		width: 100%;
		height: 525px;
		overflow: hidden;
		padding: 0 0 0 .5rem;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.about__center{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			figcaption{
				width: 100%;
				p{
					color: #fff;
					font-size: 1.1rem;
					font-weight: 600;
				}
			}
		}
	}
}