.collection-block {
	position: relative;
	width: 100%;
	.collection__img{
		position: relative;
		width: 45%;
		height: 650px;
		z-index: 2;
		img{
			height: 100%;
		}
	}
	.collection_content {
		position: absolute;
		top: 5%;
		right: 0;
		width: 85%;
		min-height: 700px;
		padding: 35px 350px;
		background-color: #efefef;
		z-index: 0;
		.collection__description{
			float: right;
			max-width: 630px;
			z-index: 2;
			h3{
				padding-top: 30px;
				font-size: 1.875rem;
				font-family: "Inter";
				color: rgb(51, 51, 51);
				font-weight: bold;
				line-height: 0.733;
			}
			.ckeditor{
				font-size: 14px;
				font-family: "Inter";
				color: rgb(102, 102, 102);
				line-height: 1.429;
				max-height: 80px;
				overflow: hidden;
				padding-left: 30px;
			}
		}
	}
	.collection__slide{
		position: absolute;
		bottom: 0;
		left: 40%;
		z-index: 9;
		width: 50%;
		figure{
			position: relative;
			background-color: #f8f8f8;
			.img{
				padding: 0 1rem;
				min-height: 271px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			figcaption{
					text-align: center;
					padding: 1.25rem;
			}
		}
		.swiper-button-next{
			right: -50px;
			width: 45px;
			height: 45px;
			&::after{
				content: '';
				width: 100%;
				height: 100%;
				background-image: url('../assets/icons/next.png');
				background-repeat: no-repeat;
			}
			@media(max-width: 768.98px){
				display: none;
			}
		}
		.collection__readmore{
			margin-top: 1.25rem;
			padding-left: 197px;
			.btn__readmore{
				border: solid 1px rgb(204, 204, 204);
				background-color: rgb(247, 247, 247);
				width: 158px;
				height: 34px;
				font-size: 12px;
				font-family: "Inter";
				color: rgb(51, 51, 51);
				font-weight: bold;
				line-height: 1.833;
				.right {
					font-size: 15px;
					line-height: 1.333;
				}
			}
		}
	}
	@media(max-width: 2000px){
		.collection_content{
			padding: 35px 153px;
		}
	}
	@media(max-width: 1400px){
		.collection_content{
			padding: 35px 300px;
		}
	}
	@media(max-width: 768.98px){
		.collection__img{
			width: 100%;
			z-index: 1;
		}
		.collection_content{
			z-index: 2;
			top: 0;
			padding: 0;
			width: 100%;
			min-height: 100%;
			background-color: rgba($color: #f5f5f5, $alpha: .5);
			.collection__description{
				float: unset;
				margin: 0;
				padding: 20px;
				width: 100%;
				.ckeditor{
					max-height: 195px;
					padding: 0;
					overflow-y: auto;
					p{
						font-size: .9rem;
					}
				}
			}
		}
		.collection__slide{
			left: 0;
			bottom: 20px;
			width: 100%;
		}
	}
}
