.hightlight-block{
	background-color: #f5f5f5;
	padding: 3.5rem 0;
	.hightlight-description{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		h3{
			font-size: 1.875rem;
			font-family: "Inter";
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-align: left;
		}
		.hightlight__content{
			padding: 0 2.2rem;
			p{
				font-size: 0.875rem;
				font-family: "Inter";
				color: rgb(102, 102, 102);
				text-align: left;
			}
		}
	}
	.hightlight__sile{

		.hightlight{
			figure{
				position: relative;
				.img{
					width: 100%;
					height: 400px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				figcaption{
					padding: 1.25rem;
					position: absolute;
					bottom: 0;
					left: 0;
					ul{
						padding: 0;
						list-style: none;
						li{
							color: #fff;
							h3{
								position: relative;
								padding-left: 1.25rem;
								&::before{
									position: absolute;
									content: '';
									width: 1.25rem;
									height: 2px;
									background-color: #fff;
									left: -1.25rem;
									top: 50%;
									transform: translateY(-50%);
								}
							}
							p{
								padding-left: 1.25rem;
							}
						}
						@media(max-width: 768.98px){
							li{
								h3{
									font-size: 1rem;
								}
							}
						}
					}
				}
			}
			.swiper-button-next{
				width: 45px;
				height: 45px;
				&::after{
					content: '';
					width: 100%;
					height: 100%;
					background-image: url('../assets/icons/next.png');
					background-repeat: no-repeat;
				}
				&:hover{
					&::after{
						content: '';
						width: 100%;
						height: 100%;
						background-image: url('../assets/icons/next-red.png');
						background-repeat: no-repeat;
					}
				}
				@media(max-width: 1024.98px){
					display: none;
				}
		}
		}
	}
	.hightlight-list{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 30px;
		.hightlight__item{
			width: 100%;
			figure{
				.img{
					min-height: 260px;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				figcaption{
					padding: 1rem 0;
					ul{
						list-style: none;
						padding: 0;
						li{
							position: relative;
							padding-left: 2rem;
							&::before{
								position: absolute;
								content: '';
								width: 1.25rem;
								height: 2px;
								background-color: #333333;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
							}
							a{
								font-size: 1.3rem;
								font-weight: 700;
								color: #333333;
							}
							p{
								font-size: 1rem;
								color: #333333;
								text-decoration: none;
							}
							&:last-child{
								&::before{
									display: none;
								}
								
							}
						}
						@media(max-width: 768.98px){
							li{
								a{
									font-size: 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
	@media(max-width: 768.98px){
		padding: 1rem 0;
		.hightlight-description{
			.block-title{
				margin-bottom: 1rem !important;
			}
			.hightlight__content{
				padding: 0;
				max-height: 200px;
				overflow-y: auto;
			}
		}
	}
}