.map-block{
	position: relative;
	background-image: url('../assets/images/map.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 450px;
	display: flex;
	.map__content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba($color: #5a524f, $alpha: .9);
		text-align: center;
		padding: 10px;
		.map__body{
			padding: 80px;
			z-index: 999;
			border: solid 1px #cccccc;
			.block-title{
				margin-bottom: 30px;
				h3{
					color: #fff;
					font-weight: 700;
				}
			}
			.btn__map{
				&:hover{
					background-color: #e0232a;
					color: #fff;
				}
			}
			@media(max-width: 1024.98px){
				padding: 30px;
			}
		}
		@media(max-width: 768.98px){
			width: 100%;
		}
	}
}