.certification-block{
	.list-group{
		max-width: 1020px;
		margin: 0 auto;
		.list__item{
			border: solid 1px #cccccc;
			min-height: 160px;
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			.list__img{
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
}