.Rectangle_71{
	height: 600px;
	@media(max-width: 575.98px){
		height: 400px;
	}
}
.customer-design{
	position: relative;
	max-width: 1920px;
	height: 100%;
	background-image: url('../assets/images/design-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 190px;
	.customer__card{
		@media(max-width: 575.98px){
			margin: auto 0;
			width: 100%;
			.block-card{
				width: 100%;
				padding: 20px;
			}
		}
	}
	@media(max-width: 575.98px){
		padding-top: 150px;
	}
	.block-card{
		width: 490px;
		height: 250px;
		position: relative;
		padding: 40px;
		background-color: rgba($color: rgb(91, 78, 69), $alpha: .7);
		.card__title{
			h5{
				font-size: 16px;
				font-family: "Inter";
				color: rgb(255, 255, 255);
				text-transform: uppercase;
			}
		}
		.card__body{
			h3{
				font-size: 30px;
				font-family: "Inter";
				color: rgb(255, 255, 255);
			}
			.btn__readmore{
				border: 1px solid rgb(204, 204, 204);
				background-color: rgb(247, 247, 247);
				font-size: 12px;
				font-family: "Inter";
				color: rgb(51, 51, 51);
				font-weight: bold;
				line-height: 1.2;
				width: 220px;
				height: 36px;
				margin-top: 22px;
				&:hover{
					color: #fff;
					background-color: rgb(237, 28, 36);
					opacity: 0.902;
					span{
						svg{
							fill: #fff;
						}
					}
				}
			}
		}
		&::before, &::after{
			content:"";
			width: 0;
			height: 3px;
			position: absolute;
			transition: all 0.2s linear;
			background: #ff0000;
		}
		.card__body::before, .card__body::after{
			content:"";
			width:3px;
			height:0;
			position: absolute;
			transition: all 0.2s linear;
			background: #ff0000;
		}
		&:hover::before, &:hover::after{
			width: 20%;
		}
		&:hover .card__body::before, &:hover .card__body::after{
			height: 30%;
		}

		&::after{
			right:0;
			bottom: 0;
			transition-duration: 0.4s;
		}
		& .card__body::after{
			right:0;
			bottom: 0;
			transition-duration: 0.4s;
		}
		&::before{
			left: 0;
			top: 0;
			transition-duration: 0.4s;
		}
		& .card__body::before{
			left: 0;
			top: 0;
			transition-duration: 0.4s;
		}
		
	}
}
