.customer-design{
	position: relative;
	min-height: 550px;
	background-image: url('../assets/images/design-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	.customer__card{
		width: 530px;
		@media(max-width: 768.98px){
			width: 100%;
			.block-card{
				padding: 20px;
				.card__title{
					h5{
						font-size: 1rem;
					}
				}
				.card__body{
					h3{
						font-size: 1.8rem;
					}
				}
			}
		}
	}
	.block-card{
		position: relative;
		padding: 40px;
		background-color: rgba($color: #4e433d, $alpha: .7);
		.card__title{
			h5{
				font-size: 1.3rem;
				color: #fff;
			}
		}
		.card__body{
			h3{
				font-size: 2.2rem;
				font-weight: 400;
				color: #fff;
			}
			.btn__readmore{
				color: #333333;
				font-weight: 700;
				svg[fill]{
					margin-left: 20px;
				}
				&:hover{
					color: #fff;
					background-color: #e0232a;
				
					svg[fill]{
						background-color: #fff;
					}
				}
			}
		}
		&::before, &::after{
			content:"";
			width: 0;
			height: 3px;
			position: absolute;
			transition: all 0.2s linear;
			background: #ff0000;
		}
		.card__body::before, .card__body::after{
			content:"";
			width:3px;
			height:0;
			position: absolute;
			transition: all 0.2s linear;
			background: #ff0000;
		}
		&:hover::before, &:hover::after{
			width: 20%;
		}
		&:hover .card__body::before, &:hover .card__body::after{
			height: 30%;
		}

		&::after{
			right:0;
			bottom: 0;
			transition-duration: 0.4s;
		}
		& .card__body::after{
			right:0;
			bottom: 0;
			transition-duration: 0.4s;
		}
		&::before{
			left: 0;
			top: 0;
			transition-duration: 0.4s;
		}
		& .card__body::before{
			left: 0;
			top: 0;
			transition-duration: 0.4s;
		}
		
	}
	@media(max-width: 768.98px){
		min-height: 350px;
	}
}