extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Trang Chu'];
block banner,breadcrumb
	<!--Home Banner--!>
	include ./_components/banner/banner.pug
block main
	<!--Home Collection-->
	include ./_components/index/i-1.pug
	<!--Home Banner-->
	include ./_components/index/i-2.pug
	<!--Home Product-->
	include ./_components/index/i-3.pug
	<!--Home Projects-->
	include ./_components/index/i-4.pug
	<!--Home Branch-->
	include ./_components/index/i-5.pug
	<!--Home certification-->
	include ./_components/index/i-6.pug
	<!--Home Design Customer-->
	include ./_components/index/i-7.pug
block scripts
