extends ./_components/_layout/_layout.pug

block var
	- let title = 'Map';
	- let bodyClass = 'map-page';

block banner,breadcrumb
block main
	.map-wrapper
		.row.no-gutters
			.col-lg-3
				.dealer-locator-list
					.list
			.col-lg-9
				#map
block scripts
	script.
		var locationsInput = [
			{
				lat: 10.1251,
				lng: 11.125,
				title: 'Home',
				address: '506/17 Ba Tháng Hai, Phường 14, Quận 10, TP.HCM',
				phone: '(028) 629 74 629'
			},
			{
				lat: 10.1251,
				lng: 10.120,
				title: 'Company',
				address: '94C đường 3/2 , Phường Hưng Lợi,Quận Ninh Kiều, TP.Cần Thơ',
				phone: '(029) 237 32 777'
			}
		]
	script(type="text/javascript", src="./js/map.min.js")