section.block-section.p-0
	.home-banner
		.swiper-container.slide-home
			.swiper-wrapper
				-for(i=1; i<6; i++)
					.swiper-slide
						figure
							.slide__img
								img(src="./assets/images/banner/banner-0"+i+".png", alt="")
							figcaption
								h3.text-uppercase Cửa ngoài trời American Doors
								p Thách thức mọi giới hạn thời tiết
								a.btn.btn__readmore.btn-readmore__red.text-uppercase(href="") xem thêm
									span.ml-2
										i.fas.fa-chevron-right
			.swiper-pagination
			.swiper-button-next
			.swiper-button-prev