section.block-section.product-block
	.container
		.block-title.ta-c.mb-5.color-title
			h3 Sẳn phẩm bán chạy
		.product-slide
			.swiper-container.product__slide
				.swiper-wrapper
					-for(i=1; i<5; i++)
						.swiper-slide
							figure
								.product__img
									.Ellipse_6
										.New New
									//- .Ellipse_6
									//- 	.New Hot
									img(src="./assets/images/product/home-product-0"+i+".png", alt="")
								figcaption
									.product__description
										ul
											li
												a(href="") Cửa Cổ Điển - ED - 08
											li
												p Kích thước quy chuẩn: 40 x 810 x 2150
											li
												p Giá: Liên hệ
										a.btn.btn__readmore.btn-readmore__gray.btn-readmore__border.tt-u(href="") xem thêm
											span.ml-2.right.lnr.lnr-chevron-right
			.swiper-button-next
			.swiper-button-prev