section.block-section.hightlight-block.p-t-80
	.container
		.row
			.col-md-6
				.hightlight-description
					.hightlight-description__dflex
						.block-title.color-title.mb-4
							h3 Các Công trình tiêu biểu
						.hightlight__content
							p Công ty đã thực hiện hơn 1.000 công trình & dự án gỗ trên toàn quốc. Gold View, City Garden, Sunrise City, đảo Kim Cương, Nine South, Saigon South, Sarica, Lucasta, FLC Quy Nhơn, Masteri, SSG Link, Nhà Sài Gòn ... là thành quả giúp AmericanDoors đạt được danh tiếng đáng tin cậy trong ngành gỗ Việt Nam.
							a.btn.btn__all.tt-u.mt-4(href="") tất cả công trình
								span.pl-2
									i.fas.fa-bars
			.col-md-6
				.hightlight__sile
					.swiper-container.hightlight
						.swiper-wrapper
							-for(i=1; i<5; i++)
								.swiper-slide
									figure
										.img
											img(src="./assets/images/hightlight-0"+i+".png", alt="")
										figcaption
											ul
												li
													h3 NINE SOUTH
												li
													p Hoàn thiện 218 bộ cửa
						.swiper-button-next
						//- .swiper-button-prev
			.col-md-4
				.hightlight-list
					.hightlight__item
						figure
							.img
								img(src="./assets/images/hightlight-02.png", alt="")
							figcaption
								ul
									li
										a.tt-u(href="") resort - khách sạn
									li
										p 50+ dự án
			.col-md-4
				.hightlight-list
					.hightlight__item
						figure
							.img
								img(src="./assets/images/hightlight-03.png", alt="")
							figcaption
								ul
									li
										a.tt-u(href="") dự án chung cư
									li
										p Hơn 200+ dự án
			.col-md-4
				.hightlight-list
					.hightlight__item
						figure
							.img
								img(src="./assets/images/hightlight-04.png", alt="")
							figcaption
								ul
									li
										a.tt-u(href="") nhà riêng
									li
										p Hơn 1000+ khách hàng
