section.block-section.certification-block.p-t-80
	.container
		.list-group
			.block-title.ta-c.mb-4
				h3 Chứng nhận
			.row
				-for(i=1; i<4; i++)
					.col-md-4
						.list__item
							.list__img
								img(src="./assets/images/certification-0"+i+".png", alt="")
